<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>530811223722-telhjh5elliot3lmom49eeo5ijt5p1qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530811223722-telhjh5elliot3lmom49eeo5ijt5p1qi</string>
	<key>API_KEY</key>
	<string>AIzaSyBt9lNJOR-AsWm0vNNMj3Xe4MjXUp1LnI4</string>
	<key>GCM_SENDER_ID</key>
	<string>530811223722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weekmeal.WeekMealDebug</string>
	<key>PROJECT_ID</key>
	<string>weekmeal-4234b</string>
	<key>STORAGE_BUCKET</key>
	<string>weekmeal-4234b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530811223722:ios:45d3a7ac1977d3aa</string>
	<key>DATABASE_URL</key>
	<string>https://weekmeal-4234b.firebaseio.com</string>
</dict>
</plist>